h1{
	color: white ;
}

header{
	display: block;
	padding: 10px 20px;
}
header img{ 
	width: 11%;
	float: left;
}
.banner{
	background-color: #11233b;
	
}
#user {
	text-align: right;
	color:white;
}

.information li{
	display: list-item;
	list-style-type: none;
	margin-left: 5px;
	color: black;
	font-weight: normal;
	font-family: "Times New Roman";
	font-variant: normal;
	margin-bottom: 4px;
	
}

.information li a{
color: black;
text-decoration: none;
} 

.information li a:hover{
color: blue;

} 

.information img{
height: 100px;
width:100px;
float: left;
padding-bottom: 100px;
} 

.information {
	padding: 30px;
}

.information p{
	font-weight: bold;
	padding-top:30px;
	
}

table {
	width: 100%;
	border:1px solid gray;
	border-collapse: collapse;
	margin-top: 5%;
}
table td, th{
	border:1px solid gray;
	padding: 5px;
	text-align: left;
}
table td{
	font-weight:normal;
	font-size: 12px;
}

.btns{
	background-color: black;
	color:white;
	border:none;
	border-radius: 1px;
	display:inline-block;
	margin-bottom:5px;
	
}


body{
	width: 960px;
	margin-left: auto;
	margin-right:auto;
	background-color: #f2f3f4;
	font-family: helvetica, arial, sans-serif;
	font-size: 15px;
}
nav{
	background-color: #20416c;
	padding: 1px;
	margin-top: 1px;
	margin-bottom: 5px;
	
}
nav li{
	margin-left: 20px;
}
li a {
	color:white;
}

main{
width: 640px;
float: left;
margin-bottom: 10px;	
margin-left: 30px;
margin-top: 30px;
}

li  {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 15px;
	font-variant: small-caps;
	font-weight:bold;
}

#question{
	float:right;
	display: flex;
	
}


#yes , #no, #maybe{
	margin-top: 70px;
	border:none;
	border-radius: 4px;
	padding: 10px;
	margin-right: 2px;
	color: white;
	float: none;
	
}

#yes{
	background-color: green;
}

#no{
	background-color: red;
}

#maybe{
	background-color: #6699CC;
}
main p{
	padding-bottom: 10px;
	font-family: "Courier New";
	font-weight: 900;
}
footer {
	margin-top: 40%;
	clear:both;
	background-color: #11233b;
	color:white;
	padding: 15px 20px;
}

footer p{
	float: none;
}


main {
	padding:40px;
}





